

.signup-form
  display: flex
  flex-direction: column

  input
    padding: 10px 17px 14px
    margin-bottom: 22px
    font-family: 'Work Sans'
    border: 0.75px solid #AAAAAA
    box-sizing: border-box
    height: 40px

  input::placeholder
    color: #B5B5B5

  .signup-submit
    width: 146px
    height: 48px
    font-family: 'Work Sans'
    font-weight: 500
    background-color: white
    font-size: 17px
    border-style: solid
    border-color: #707070

